<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/stdcss.css" %}">
</head>
<body>
    <div class="container" align="center">
        <h1> Student Details</h1>
        <form method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" class="btn-btn-primary" value="Register">
        </form>
    </div>
</body>
</html>