<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/movie.css" %}">
</head>
<body>
    <div class="container" align="center">
        <div class="jumbotron">
    <h1>Vamshi Movies...</h1>
    <p>up to date movies information</p>
    <a class="btn btn-primary" href="/addmovie" role="button">Add Movie</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a class="btn btn-primary" href="/listmovies" role="button">List movies</a>
    </div>
    </div>
</body>
</html>