<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ListMovies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/movie.css" %}">
</head>
<body>
        <h1>List of Movies.</h1>
        {% if movie_list %}
        <table align="center">
            <thead>
                <th>Movie name</th>
                <th>Movie Hero</th>
                <th>Movie Heroine</th>
                <th>Movie Rating</th>
            </thead>
            {% for movie in movie_list %}
            <tr>
                <td>{{movie.name}}</td>
                <td>{{movie.hero}}</td>
                <td>{{movie.heroine}}</td>
                <td>{{movie.rating}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No movies found</p>
        {% endif %}
</body>
</html>